@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

body { 
  width: 400px; 
  height: 600px; 
  font-family: sans-serif;
}

.text-2xs {
    font-size: 0.625rem /* 0.625rem = 10px */;
    line-height: var(--tw-leading, calc(1 / 0.625)); /* calc(1 / 0.625) ≈ 1.3333 */
}